<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>MainPageServlet</servlet-name>
        <servlet-class>fr.vajin.snakerpg.MainPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerProfileServlet</servlet-name>
        <servlet-class>fr.vajin.snakerpg.PlayerProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaderBoardServlet</servlet-name>
        <servlet-class>fr.vajin.snakerpg.LeaderBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameViewServlet</servlet-name>
        <servlet-class>fr.vajin.snakerpg.GameViewServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>MainPageServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerProfileServlet</servlet-name>
        <url-pattern>/player/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaderBoardServlet</servlet-name>
        <url-pattern>/leaderboard/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameViewServlet</servlet-name>
        <url-pattern>/game/*</url-pattern>
    </servlet-mapping>
</web-app>